<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods App</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <%- include('./foods/partials/nav') %>

    <h1>Welcome to the Foods app!</h1>
        <img class="food-pic" src="./images/avocado.png" alt="Avocado" />
    <p>A program to collect your favorite foods!</p>
  </body>
</html>
