<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods App</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <%- include('./foods/partials/nav') %>

    <h1>Welcome to the Foods app!</h1>
        <img
            class="food-pic"
            src="https://cdn-icons-png.flaticon.com/128/5312/5312448.png"
            alt="happy fruit salad bowl"
        />
    <p>An app for collecting your favorite foods.</p>
  </body>
  <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>
