<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Food</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
    <body>
        <%- include('./partials/nav') %>
        <h1>Create a New Food!</h1>
        <form action="/foods" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
        
            <label for="isVegetarian">Vegetarian?</label>
            <input type="checkbox" name="isVegetarian" id="isVegetarian" />
        
            <button type="submit">Add Food</button>
        </form>
    </body>
</html>
